# SeConv options
## For information on each option, please view their official documentation here:
## https://subtitleedit.github.io/subtitleedit/reference/command-line.html

### Path to the seconv executable. Leave as default if you already have it installed in your PATH
SECONV_PATH=seconv.exe

### Engine and model. If model is not provided, will use the first available model.
TRANSLATE_ENGINE=llamacpp
TRANSLATE_MODEL=
### Server host and port
TRANSLATE_URL=http://127.0.0.1:8080/
### Source language (default: auto)
TRANSLATE_FROM=
### Target language (default: auto)
TRANSLATE_TO=en
### Additional args passed to seconv (comma-seperated)
### Useful if you want to use your own settings.json, profile, replacements, system prompt, etc. Check SeConv docs for more info
SECONV_ADDITIONAL_ARGS=


# Path to LRC/SRT/VTT/etc files to translate
## For a list of supported formats, please see https://github.com/papnkukn/subsrt
RJ_PATH=./queue

# Path to the json file where translation errors should be saved or loaded
ERRORS_FILE=./data/tlerrors.json

# Which file types to parse (comma-seperated)
SUBTITLE_EXTENSIONS=lrc,srt,vtt
